{% load static %}

<div class="card my-1 py-1">
    <div class="row">
        <div class="col-2 d-flex justify-content-center">
            <img src="{% static "img/profile.png" %}" style="width:2rem;height:2rem;" class="m-2" alt="">
        </div>
        <div class="col-10">
            <div class="d-flex align-items-center">
                <h5>{{comment.full_name}} </h5><small> - {{comment.date|date:"D d M Y"}}</small>
            </div>
            <div><p>{{comment.text}}</p></div>
        </div>
    </div>
</div>