{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock  %}

{% block content %}
    <div class="container-fluid my-5 w-75 align-center border border-1">
        <div class="row">
            <div class="col-6 d-none d-sm-none d-md-block p-0">
                <img src="{% static 'img/login-background.jpg' %}" class="img-fluid" style="height:85vh;" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="m-3">
                    <h3 class="text-center mt-5 mb-3">Login</h3>
                    
                    <form method="post">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                        <div class="alert alert-warning" >
                            {{error}}
                        </div>
                        {% endfor %}

                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-warning" >
                                    {{field.errors}}
                                </div>
                            {% endif %}
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            <div class="my-2">
                                {{field}}
                            </div>
                        {% endfor %}

                        <button type="submit" class="special-button special-background submit mt-5">Register</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock  %}